/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --bg-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --fonts-color: #db00ff;
  --title-text-color: #000028;
}

body {
  margin: 0;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  :root {
    --bg-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --fonts-color: #db00ff;
    --title-text-color: #000028;
  }
}


