/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --accent-color: #353430;
  --text-color: #353430;
  --bg-color: #ff8dcb;
  --fonts-color: #ffc2e6;
  --title-text-color: #353430;
}

body {
  margin: 0;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--bg-image-light);

  --accent-color: #353430;
  --text-color: #353430;
  --bg-color: #ff8dcb;
  --fonts-color: #ffc2e6;
  --title-text-color: #353430;

  .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --text-color: #353430;
    --bg-color: #ff8dcb;
    --fonts-color: #ffc2e6;
    --title-text-color: #353430;
  }
}

