/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
 --accent-color:#FF0070;
 --text-color: #353430;
 --bg-color:#ff8dcb;
 --fonts-color:#FFC2E6;


}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
 background-image: var(--bg-image-light);
  --accent-color:#FF0070; 
  --text-color: #353430;
  --bg-color:#ff8dcb;
  --fonts-color:#FFC2E6;
 
}

@media (prefers-color-scheme: theme_light) {
  :root {
    --accent-color: #FF0070;
    --text-color: #353430;
    --bg-color:#ff8dcb;
    --fonts-color: #FFC2E6;
   }
}

.page.theme_light {
  .header-rec{
    display: none;
  }
}