/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: 'IBM Plex mono';
  --accent-font: 'IBM Plex mono';
  --bg-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --fonts-color: #db00ff;

  --bg-image-light: url(../images/cover-image-light.png);
  --bg-image-dark: url(../images/cover-image-dark.png);
}
body {
  margin: 0 auto;
}


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  min-width: calc(100vw - 30px);
  font-family: var(--accent-font, sans-serif);
  background-image: var(--bg-image-dark, #000);
  background-attachment: fixed;
  margin-inline-start: 0.7em;
  margin-inline-end: ;
}

.decorated-zone {
  display: flex;
  min-width: 375px;
  color: var(--accent-color);
  position: relative;
}
.decorated-zone::before {
  display: flex;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--bg-color);
  border-right: 1px solid var(--bg-color);
  top: 0.7em;
  left: 89vw;
}
.decorated-zone::after {
  display: flex;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--bg-color);
  border-left: 1px solid var(--bg-color);
  bottom: 0.7em;
  right: 92vw;
}
.header {
  font-family: var(--accent-font, sans-serif);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 9em 18.3em 11.5em;
  min-height: 100%;
}

.header__theme-menu {
  display: grid;
  grid-row: 2;
  align-items: center;
  justify-self: flex-end;
}

.header__theme-menu-list {
  font-family: var(--main-font);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding-right: 1.4em;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 0;
  color: var(--bg-color);
  font-family: var(--accent-color);
  font-size: 1em;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--bg-color);
}
.header__theme-menu-button:disabled {
  outline: 1px solid var(--bg-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--bg-color);
}

.heading {
  display: grid;
  justify-self: end;
}
.header-rec {
  display: inline-flex;
  grid-row: 1;
  row-gap: 3em;
  align-self: center;
  justify-self: end;
  padding-right: 1.7em;
  font-weight: 400;
  color: var(--bg-color);
  font-family: var(--accent-font);
  font-size: 18px;

  line-height: 25px;
  letter-spacing: 0em;
  text-align: end;
  text-transform: uppercase;
}
.header-rec::after {
  content: '';
  margin-left: 0.6em;
  align-self: center;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.header_title {
  display: grid;
  grid-row: 3;
  font-family: var(--main-font);
  align-self: center;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: 0em;
  text-align: left;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--fonts-color);
}

.header_text {
  display: grid;
  grid-row: 4;
  font-family: var(--accent-font);
  color: #000028;
  width: 355px;
  height: 117px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  margin-inline-end: 1.1em;
}
.title_decor {
  background-color: var(--bg-color);
}
/*header*/
@media screen and (min-width: 768px) {
  .decorated-zone {
    display: grid;
    grid-template-rows: 4em 16em 22em 16em;
    width: 100%;
    height: 1024px;
    transition: all 0.5s ease-in;
  }

  .header__theme-menu {
    grid-row: 2;
    align-self: end;
  }
  .header_title {
    grid-row: 3;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_text {
    align-self: center;
    grid-row: 4;
    width: 48%;
    height: 4em;
  }
  .title_decor {
    width: 40%;
    height: 50%;
  }

  .title:not(.section_title) {
    padding-top: 55px;
  }

  .footer {
    width: 768px;
    height: 1024px;
  }

  
}

@media screen and (min-width: 1024px) {
  .page {
    width: calc(100% - 2em);
  }
  .decorated-zone {
    display: grid;

    grid-template-rows: 4em 4em 23em 16em;
    max-width: 100vw;
    max-height: 768px;
    transition: all 0.5s ease-in;
  }
  .header__theme-menu {
    grid-row: 1;
    justify-content: center;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }
  .header_text {
    display: grid;
    justify-self: end;
    grid-column: span 2;
    width: 27em;
    height: 4em;
    margin: 0;
  }
  
  .title:not(.section_title) {
    padding-top: 55px;
  }
}

.section {
  display: grid;
  grid-template-columns: minmax(375px, 1fr);
  grid-template-rows: 1fr;
}

.title {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 0.9em;
  padding-top: 2em;
  max-width: 94vw;
}

.section_title {
  color: #000028;
  background-color: var(--bg-color);
  font-family: var(--main-font);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.subtitle {
  background-color: var(--bg-color);
}
.subtitle_top {
  font-family: var(--accent-font);
  font-size: 1.1em;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  letter-spacing: 0em;
  text-align: left;
  padding-right: 1em;
}

.article-top {
  display: grid;
  width: calc(100% - 1.2em);
  gap: 1em;
}

.article__center {
  display: grid;
  width: calc(100% - 0.8em);
  gap: 1em;
  list-style-type: none;
}

.article_bottom {
  display: grid;
  width: calc(100% - 0.8em);
  padding-block-start: 0.5em;
  gap: 1em;
}

.subtitle_center {
  font-family: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  text-align: left;
  margin-bottom: 0.7em;
}

.subtitle_bottom {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0em;
  text-align: left;

  font-family: IBM Plex Mono;
}

.text {
  color: var(--text-color);
}

.section_text {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.text_info {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.text_info:hover {
  border-bottom: 1px solid var(--text-color);
}

.text_info:focus {
  outline: none;
}
.text_info:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__center {
  padding-top: 0.9em;
}

.section__buttom {
  display: grid;
  padding-top: 0.8em;
}

.section__image {
  display: grid;
  padding-top: 3em;
  width: calc(100% - 0.8em);
}

.cards {
  display: grid;
  gap: 0.9em;
  padding-top: 10px;
}

.cards__item {
  display: flex;
  justify-content: center;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  position: relative;
  margin-block-start: 40px;
  transition: all 0.5s ease-in;
}
.footer::before {
  display: flex;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--bg-color);
  border-right: 1px solid var(--bg-color);
  top: 0.7em;
  left: 87vw;
}

.footer::after {
  display: flex;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--bg-color);
  border-left: 1px solid var(--bg-color);
  bottom: 0.7em;
  right: 88vw;
}

.header_title::after {
  .footer_title {
    content: '';
  }
}
.footer_title {
  align-items: center;
  display: flex;

  height: 667px;
  justify-content: center;
  color: var(--fonts-color);
  text-shadow: 2px 2px 0 var(--bg-color);
}


@media screen and (min-width: 768px) {
  .cards {
    display: grid;
    min-width: 100%;
    min-height: 823px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .cards__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .cards__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .cards__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .cards__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .cards__item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: calc(1 / 3 * 100%) calc(2 / 3 * 100%);
    gap: 1em;
  }
  .title {
    grid-column: 1;
    max-width: 13em;
  }
  .article-top {
    grid-column: 2;
    padding-top: 4em;
    margin-inline-end: 0.7em;
  }
}

@media screen and (min-width: 768px) {
  .section__buttom {
    display: grid;
    grid-template-columns: calc(1 / 3 * 100%) calc(2 / 3 * 100%);
    gap: 1em;
  }

  .title {
    grid-column: 1;
  }

  .article_bottom {
    grid-column: 2;
    padding-top: 4em;
    margin-inline-end: 0.7em;
  }

  .footer {
    width: 100%;
    max-height: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  .article__center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    min-width: 100%;
    max-height: 80%;
    gap: 2em;
  }
  .title {
    grid-column: 1;
    grid-row: 1;
    max-width: 17em;
  }

  .one {
    grid-column: 1/2;
    grid-row: 1;
  }
  .two {
    grid-column: 2/3;
    grid-row: 1;
  }
  .three {
    grid-column: 3/4;
    grid-row: 1;
  }

  .footer {
    transition: all 0.5s ease-in;
    width: 100%;
    height: 768px;
  }
}
@media (prefers-color-scheme: theme_light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --bg-color: #ff8dcb;
    --fonts-color: #ffc2e6;
  }
}
@media (prefers-color-scheme: theme_light) {
  .header-rec,
  .page::before {
    visibility: hidden;
  }
}

.page.theme_light {
  header-rec {
    display: none;
  }
}
