/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: 'IBM Plex mono';
  --accent-font: 'IBM Plex mono';
  --bg-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --fonts-color: #db00ff;
  --title-text-color: #000028;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image-light: url(../images/cover-image-light.png);
  --bg-image-dark: url(../images/cover-image-dark.png);
}

body {
  margin: 0;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  max-inline-size: 1440px;
  font-family: var(--accent-font, sans-serif);
  background-attachment: fixed;
  margin-inline-start: 0.6em;
  margin-inline-end: 0.6em;
}

.decorated-zone {
  display: flex;
  min-inline-size: 375px;
  color: var(--accent-color);
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  top: 0.7em;
  right: 1.1em;
}

.decorated-zone::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  bottom: 0.7em;
  left: 0.1em;
}

.header {
  font-family: var(--accent-font, sans-serif);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 9.2em 18em 11.7em;
  height: 100vh;
}

.header__theme-menu {
  display: grid;
  grid-row: 2;
  align-items: center;
  justify-self: flex-end;
}

.header__theme-menu-list {
  font-family: var(--main-font, sans-serif);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.45em;
  padding-right: 1.2em;
}

.header__theme-menu-item {
  display: inline-flex;
  height: 1.9em;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 0;
  color: var(--accent-color);

  font-size: 1.1em;
  width: 4em;
  min-height: 1.4em;
  text-transform: lowercase;
  line-height: 100%;
  align-self: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.heading {
  display: block;
  align-self: flex-start;
  justify-self: end;
}

.header__rec {
  display: inline-flex;
  row-gap: 2em;
  align-self: center;
  justify-self: end;
  padding-right: 1.6em;
  font-weight: 400;
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: end;
  text-transform: uppercase;
}

.header__rec::after {
  display: flex;
  content: '';
  margin-left: 0.6em;
  align-self: center;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.header__title {
  display: grid;
  grid-row: 3;
  font-family: var(--main-font, sans-serif);
  align-self: center;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: 0em;
  text-align: left;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--bg-color);
  color: var(--fonts-color);
}

.header__text {
  display: block;
  font-family: var(--accent-font, sans-serif);
  color: var(--title-text-color);
  width: 355px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  margin-inline-end: 1.1em;
}

.title__decor {
  display: block;
  background-color: var(--bg-color);
}

.main {
  width: calc(100% - 1.18em);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.title {
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-block-end: 0.5em;
  padding-block-start: 2.1em;
  max-width: 94vw;
}

.section__title {
  color: var(--title-text-color);
  background-color: var(--bg-color);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.subtitle {
  background-color: var(--bg-color);
}

.subtitle__top {
  font-family: var(--main-font, sans-serif);
  font-size: 1.13em;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  letter-spacing: 0em;
  text-align: left;
  padding-right: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}

.article__center {
  display: grid;
  gap: 1em;
  list-style-type: none;
}

.article__bottom {
  display: grid;
  padding-block-start: 0.5em;
  gap: 1em;
}

.subtitle__center {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  text-align: left;
  margin-block-end: 0.7em;
}

.subtitle__bottom {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0em;
  text-align: left;

  font-family: var(--accent-font, sans-serif);
}

.text {
  color: var(--text-color);
}

.section__text {
  font-family: var(--accent-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.text__info {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--bg-color);
  cursor: pointer;
}

.text__info:hover {
  border-bottom: 1px solid var(--text-color);
}

.text__info:focus {
  outline: none;
}
.text__info:focus-visible {
  outline: 1px solid var(--text-color);
}

/*.section__center {
  padding-block-start: em;
}*/

.section__buttom {
  display: grid;
  padding-block-start: 0.5em;
}

.section__image {
  display: grid;
  padding-block-start: 3em;
  /*width: calc(100% - 1.2em);*/
}

.cards {
  display: grid;
  gap: 0.5em;
  padding-block-start: 10px;
}

.cards__item {
  display: flex;
  justify-content: center;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  grid-row: 2;
  position: relative;
  margin-block-start: 2.8em;
  align-items: center;
  min-height: 667px;
  transition: all 0.5s ease-in;
  margin-inline-end: 1em;
}

.footer::before,
.footer::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
}

.footer::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  top: 0.8em;
  right: 0.1em;
}

.footer::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  bottom: 9px;
  left: 0em;
}

.footer__title {
  align-items: center;
  display: flex;
  justify-self: center;
  min-height: 667px;
  color: var(--fonts-color);
  text-shadow: 2px 2px 0 var(--bg-color);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

@media screen and (width >= 768px) {
  .decorated-zone {
    display: grid;
    grid-template-rows: 4em 14.2em 28em 5.4em;
    width: 99vw;
    transition: all 0.5s ease-in;
  }

  .decorated-zone::before {
    top: 1.2em;
    right: 1.3em;
  }

  .decorated-zone::after {
    bottom: 1.2em;
    left: 0.6em;
  }

  .header__theme-menu {
    grid-row: 2;
    align-self: end;
  }

  .header__title {
    grid-row: 3;
    margin-inline-start: -10px;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    align-self: center;
    grid-row: 4;
    width: 50%;
  }

  .title__decor {
    width: 48%;
  }

  .title:not(.section_title) {
    padding-block-start: 55px;
  }

  .main {
    padding-inline-start: 0.6em;
    padding-inline-end: 0.6em;
  }

  .footer {
    min-height: 1024px;
  }

  .footer::before {
    top: 1em;
    right: -0.3em;
  }

  .footer::after {
    bottom: 1.4em;
    left: 0.6em;
  }

  .footer__title {
    display: flex;
    justify-self: center;
    align-items: center;
  }

  .section__image {
    margin-block-start: 2em;
  }

  .cards {
    display: grid;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    min-width: calc(768px - 2.5em);
    flex-grow: 1;
    padding-block-start: 1em;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    gap: 20px;
  }

  .cards__item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .cards__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .cards__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .cards__item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .cards__item:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .section {
    display: grid;
    margin-block-start: 1.3em;
    grid-template-columns: calc(1 / 3 * 100%) calc(2 / 3 * 100%);
    gap: 1.2em;
  }

  .title {
    grid-column: 1;
    max-width: 13em;
  }

  .section__center {
    min-width: calc(485px - 1em);
    padding-block-start: 2em;
  }

  .article__center {
    width: calc(100vw - 2.5em);
  }

  .section__buttom {
    display: grid;
    grid-template-columns: calc(1 / 3 * 100%) calc(2 / 3 * 100%);
    gap: 1.2em;
    padding-block-start: 1.6em;
  }

  .article__bottom {
    grid-column: 2;
    padding-block-start: 3.5em;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .header__rec {
    display: inline-flex;
    align-self: flex-end;
    padding: 0;
    padding-inline-end: 0.2em;
    padding-block-end: 0.2em;
  }

  .decorated-zone::before {
    top: 20px;
    right: -6px;
  }

  .decorated-zone::after {
    bottom: 1.3em;
    left: 0.7em;
  }

  .article__center {
    display: grid;
    grid-template-columns: repeat(3, minmax(314px, 100%));
    grid-template-rows: 1fr;
    min-width: 100%;

    gap: 1.3em;
  }

  .section {
    margin: 0;
  }

  .section__center {
    width: calc(2 / 3 * 95vw);
    margin-block-start: 0.2em;
  }

  .subtitle__top {
    margin-block-end: 0.82em;
  }

  .section__buttom {
    display: grid;
    width: 95vw;
    padding-block-start: 1.5em;
    gap: 0.7em;
  }

  .title {
    grid-column: 1;
    grid-row: 1;
    max-width: 17em;
  }

  .article__first {
    grid-column: 1/2;
    grid-row: 1;
  }

  .article__second {
    grid-column: 2/3;
    grid-row: 1;
  }

  .article__third {
    grid-column: 3/4;
    grid-row: 1;
  }

  .section__image {
    margin-block-start: 2em;

    width: calc(100vw - 2.3em);
  }

  .cards {
    justify-content: center;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
  }

  .footer {
    transition: all 0.5s ease-in;
    width: 100%;
    min-height: 768px;
  }

  .footer::before {
    top: 1em;
    right: -0.3em;
  }

  .footer::after {
    bottom: 1.5em;
    left: 0.6em;
  }

  .footer__title {
    justify-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page {
    width: calc(100% - 2.2em);
  }

  .decorated-zone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1em 24em 11.6em;
    max-width: calc(100vw - 2.1em);
    transition: all 0.5s ease-in;
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    padding-inline-start: 5.4em;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    align-self: end;
  }

  .header__text {
    display: grid;
    align-self: flex-end;
    justify-self: end;
    grid-column: span 2;
    width: 27em;
    margin: 0;
  }

  .title:not(.section_title) {
    padding-block-start: 60px;
  }
}
