/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --bg-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --fonts-color: #db00ff;
  --title-text-color: #000028;
  --button-hover-color:rgba(255, 0, 112, 0.40);
  --bg-image: url(../images/cover-image-dark.png);
}
