/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --accent-font: 'IBM Plex mono';
  --bg-color: #ff0070;
  --text-color: #f1b2ce;
  --fonts-color:#DB00FF;
  --accent-color: #FF0070;
}

body {
  margin: 0 auto;
}